# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars

# Node modules
node_modules/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
youtube-script.md
cloudfront-architecture-diagram.drawio
cloudfront-architecture.md
README.MD
Architecture.drawio.xml
architecture/
